@import "profile.css";
@import "tasks.css";
@import "nav.css";
@import "form.css";
@import "prompt.css";

* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: rgb(212, 201, 217);
  /* display: grid;
    align-items: center;
    justify-content: center; */
}

.App {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  margin: auto;
}

@media screen and (min-width: 769px) {
  .App {
    flex-direction: row;
  }
}
