nav {
  position: fixed;
  top: 0;
  right: 0;
  cursor: pointer;
  padding-right: 1em;
}

nav p {
  font-size: max(1.2em, 1.3vw);
  background-color: rgb(173, 165, 237);
  border-radius: 0.2em;
  padding: 0.2em;
}

@media screen and (min-width: 769px) {
  nav {
    display: none;
  }
}
